.u-textCenter {
  text-align: center;
}

/* make variables in :root; must start with --; */
:root {
  /* background: gold; */
  --primary: #396dff;
  --greenblue: #0ff;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  margin-top: 0;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0;
  border: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1, h3 {
  text-align: center;
  color: var(--primary);
}

.instructions {
  margin-bottom: 20px;
  text-align: center;
  color: #555;
}

.form-container {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.input-field {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button-container {
  text-align: center;
}

.button {
  padding: 10px 20px;
  background-color: var(--primary);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #3956ff;
}

.output-container {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  background-color: #f9f9f9;
  margin-bottom: 20px;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
  .container {
    padding: 10px;
  }
}

.piccenter {
  margin: 0 auto;
  display: block;
}

/* description of classes*/
.navT {
  margin: 0 0 5px 0;

  font-weight: bold;
  color: rgb(229, 229, 236);
  font: 20px;
  background-color: #1b0cbd;
}

.box {
  margin: 1px;
  border: 1px solid;
  padding: 20px;
  border-color: black;
}
